.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}

.el-footer {
    font-size: 20px;
}

.el-aside {
    /*background-color: #D3DCE6;*/
    color: #333;
    /*text-align: center;*/
    line-height: 845px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    height: 960px;
}

body > .el-container {
    margin-bottom: 40px;
}


.btn-s {
    width: 90px;
    height: 36px;
    display: inline-block;
    position: relative;
    top: 20%;
    margin: 16px;
    overflow: hidden;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 24px;
    cursor: pointer;

}

.btn-s:focus {
    outline: none;
}

.btn-s:before {
    content: "";
    height: 110%;
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    background-image: url("../img/index_bg.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
}

.btn-s span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0px;
    transform: translateY(-50%);
    z-index: 9;
}

.btn-s:before {
    transition: all 0.3s ease;
}

.btn-s:hover:before {
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.btn-s:focus {
    outline: none;
}

.btn-s#btn-6 {
    position: fixed;
    top: 0px;
    left: 1790px;
}

.btn-s#btn-7 {
    width: 180px;
    position: fixed;
    top: 0px;
    left: 1500px;
}

.btn {
    width: 300px;
    height: 60px;
    display: inline-block;
    position: relative;
    top: 20%;
    margin: 16px;
    overflow: hidden;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 26px;
    cursor: pointer;

}

.btn:before {
    content: "";
    height: 110%;
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    background-image: url("../img/index_bg.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
}

.btn span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    z-index: 9;
}

.btn:before {
    transition: all 0.3s ease;
}

.btn:hover:before {
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.btn#btn {
    position: fixed;
    top: -15px;
    left: 0px;
}

.el-tabs__item {
    height: 40px;
    line-height: 40px;
    width: 150px;
    font-size: 16px;
}

.el-tab-pane {
    min-height: 750px;
}

.clear {
    clear: both;
}
.el-tabs__nav-next, .el-tabs__nav-prev{
    padding-top: 15px;
}

.el-select {
    width: 300px;
}

#d_find .input-with-select {
    width: 800px;
}

#d_find .el-select {
    width: 180px;
}

#formTab{
    margin-top: 10px;
}

.el-table .hidden-row {
    display: none;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.el-table .error-row {
    background: #F56C6C;
}

.param{
    display: none;
}
